[submodule "lib/fastcdr"]
	path = external-lib/fastcdr
	url = https://github.com/eProsima/Fast-CDR.git
[submodule "lib/gtest"]
	path = external-lib/gtest
	url = https://github.com/google/googletest.git
[submodule "lib/lz4"]
	path = external-lib/lz4
	url = https://github.com/lz4/lz4.git
[submodule "lib/zstd"]
	path = external-lib/zstd
	url = https://github.com/facebook/zstd.git
[submodule "lib/pico-sdk"]
	path = external-lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
